<!DOCTYPE html>

<html>

<head>

</head>
<body>
    {{>header}}
    <h1>Main Geldiniz</h1>
    <div>
        <h1>Paris</h1>
        <form>
            <input>
            <button>DenemeButton</button>
        </form>
    </div>


</body>
</html>