<!DOCTYPE html>

<html>

<head>

</head>
<body>
    {{>header}}
    <h1>Main Geldiniz</h1>
    <div>
        <h1>Paris</h1>
        <form>
            <input>
            <button>Hava Durumu Ara</button>
        </form>
    </div>

<script src="/js/app2.js"></script>
</body>
</html>