{{title}}

<div>
    <a href="/"> Main</a>
    <a href="/about">about</a>
    <a href="/help"> help</a>
    <a href="/ib"> ib</a>
    <a href="/sat"> sat</a>
    <a href="/tolc"> tolc</a>
    <a href="/ap"> ap</a>
    <a href="/alevel"> aLevel</a>
    <a href="/login"> login</a>
    <a href="/online_courses"> online_courses</a>
    <a href="/past_papers"> past_papers</a>
   

</div>